body {
    background-color: #EDEDED;  
}

#header {
     background-color: #B0E2FF; 
     text-align:center;
     line-height: 80px;
     font-size: 20pt;
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
}

.middle {
    position: absolute;

    width: 300px;
    height: 300px;

    /* Center form on page horizontally & vertically */
    top: 55%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

#footer {
     color: #636363;
     text-align:right;
     width: 100%;
     height: 2em;
     position: absolute;
     top: 5px;
     left: -5px;
}

#home {
     
     text-align:left;
     position: absolute;
     top: 5px;
     left: 5px;
}

.table-nonfluid {
   width: auto !important;
}

div.suggestions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid black;
    position: absolute;   
}

div.suggestions div {
    cursor: default;
    padding: 0px 3px;
    background-color: #FFFFFF;
}

div.suggestions div.current {
    background-color: #3366cc;
    color: white;
}
